.env
vendor/
writable/*
!writable/index.html
!writable/cache/
!writable/debugbar/
!writable/logs/
!writable/session/
!writable/uploads/
writable/cache/*
!writable/cache/index.html
writable/debugbar/*
!writable/debugbar/index.html
writable/logs/*
!writable/logs/index.html
writable/session/*
!writable/session/index.html
writable/uploads/*
!writable/uploads/index.html
system/
ci4_fw/
ci4_framework.zip
.local/
public/router.php
public/script.js
public/styles.css
public/distribucion/*
!public/distribucion/.gitkeep